// default
// 左侧菜单
@ant-layout-width: 240px;
@ant-layout-shadow: 1px 0px 10px rgba(0, 0, 0, 30%);
@ant-header-avatar: 60px;
@ant-header-title: 32px;
@ant-menu-item-hover: #bae0ff;
@ant-menu-item-color: #333;
@ant-menu-item-radius: 8px;
@ant-menu-item-size: 16px;


// 首页列表  标题  标签
@ant-layout-content: 240px;
@ant-post-title-size: 30px;
@ant-post-title-color: #1400ee;
// 内容
@ant-post-abstract: 15px;
// ant-row 阅读更多
@ant-post-ant-row: 18px;
// 时间  标签
@ant-post-time-color: #868e96;
@ant-post-tag-background: #868e96;
// #2e528fb0
@ant-post-tag-color: #000;
@ant-post-tag-hover: #5915d2;
@ant-post-size: 12px;

// 标签页
@ant-ant-tag: #000;
@ant-tag-size: 16px; 

// 置顶
@ant-isTop: #f06595;





// dark
// 背景色
@dark-main-background: #242424;
// 全局字体
@dark-main-color: rgba(232, 230, 227, 0.87);
@dark-main-a-background-hover:rgb(43, 47, 49);
@dark-main-a-color: #9499ff;
@dark-main-a-color-hover: #bcc0ff;
@dark-main-code: rgb(28, 30, 31);
@dark-main-border-color: rgb(66, 72, 74);




@main-color: #333;
@light-main-color: #006cff21;

@black: #000000;
@white: #FFFFFF;

@dark-gray: #5E5E5E;
@default-gray: #CCCCCC;
@light-gray: #E6E6E6;
@lighter-gray: #F3F3F3;


@darker-red: #af0900;
@dark-red: #e20c00;
@default-red: #FB0D00;


@default-green: #11B711;
@default-yellow: #FAAD14;
@default-green-blue: #788F9A;

@dark-text-color: #2b2b2b;
@default-text-color: #444444;
@light-text-color: #6a6a6a;
